.App h1 {
  font-size: 96px;
  text-align: center;
  margin: 10px auto;
  color: #596e79;
}

.App h2, h3 {
  color: #596e79
}

.App .App-footer {
  text-align: center;
  margin: 10px auto;
}

.App .App-footer a {
  text-decoration: none;
  color: #596e79
}