.App {
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  background-color: #e7eaf6;
  text-align: center;
  margin: 10px 30px 20px;
  border-radius: 4px;
 }

.App h1, h2, h3 {
  color: #40356f
}

.App .App-footer {
  text-align: center;
  margin: 10px auto;
}

.App .App-footer a {
  color: #40356f;
}

@media (max-width: 700px) {
  .App h1 {
    font-size: 42px;
    margin: 10px 5px;
  }

  .App h2 {
    font-size: 24px;
  }
}