.Phonetic {
  padding: 0 0 10px 0;
}

.Phonetic a {
  text-decoration: none;
  color: #40356f;
  border: 1px solid #40356f;
  padding: 6px;
  border-radius: 20px;
  background-color: #e7eaf6;
  margin: 10px 10px 10px 0;
}

.Phonetic a:hover {
  background-color: white;
  transition: all 200ms ease-in-out;
}