.Phonetic {
  padding: 0 0 10px 0;
}

.Phonetic a {
  text-decoration: none;
  color: #596e79;
  border: 1px solid #596e79;
  padding: 8px;
  border-radius: 20px;
  background-color: #c7b198;
  margin: 10px 10px 10px 0;
}

.Phonetic a:hover {
  background-color: white;
  transition: all 200ms ease-in-out;
}