.Synonyms {
  margin: 10px 0 ;
  padding: 0;
}

.Synonyms li {
  font-size: 13px;
  display: inline-block;
  margin: 0 10px 5px 0;
  border: 1px solid #000000;
  background-color: #e7eaf6;
  padding: 5px;
  border-radius: 15px;
}